@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home input {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background: #f1e1e1;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5px 0;
}
.home textarea {
  resize: none;
  background: rgba(241, 225, 225, 0.53);
  border-radius: 28px;
  height: 35vh;
  padding: 30px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.028em;
  border: none;
  outline: none;
}
.home .char_counter {
  text-align: center;
  margin-top: -30px;
}
.home .char_counter p {
  font-family: "Arimo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.home .hint {
  width: 50%;
  margin: 0 auto;
  margin-top: -30px;
}
.home .send {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background: #ff1616;
  border-radius: 28px;
  border: none;
  outline: none;
  padding: 15px 0;
  font-family: "Arimo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.028em;
  color: #ffffff;
  cursor: pointer;
  transition: letter-spacing 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.home .send :hover {
  letter-spacing: 3px;
}