nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        margin-bottom: 20px;
    }
    .text_icons{
        display: flex;
        align-items: center;
        margin-top: -10px;
        gap: 20px;

        .inner_text_icon{
            background-color: transparent;
            color: #ff1616;
            cursor: pointer;
        }
    }
}