.login p {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.login .sign_up_link {
  color: #ff1616;
  text-decoration: none;
}
.login .policy {
  display: flex;
}
.login .policy input {
  position: relative;
  bottom: 10px;
}
.login .policy span {
  color: #ff1616;
}