.app{
    width: 35%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 30px;
    
}

/* Responsiveness starts here */
/* medium screens */
@media (max-width: 991px) {
    .app{
        width: 50%;
        margin: 100px auto;
    }
}

/* Small Screens */
@media only screen and (max-width: 480px) {
    .app{
        width: 80%;
        padding: 15px;
        margin: 50px auto;
    }
}